<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="fragments :: head"><title>s30174-View</title></head>
<body class="p-4">

<form method="get" action="/links/create">
    <label>
        <select name="lang" onchange="this.form.submit()" class="form-select form-select-sm">
            <option value="en" th:selected="${currentLang == 'en'}" th:text="${english}">English</option>
            <option value="pl" th:selected="${currentLang == 'pl'}" th:text="${polish}">Polish</option>
            <option value="de" th:selected="${currentLang == 'de'}" th:text="${german}">German</option>
        </select>
    </label>
</form>

<div class="container mt-4">
    <form method="post" th:action="@{/links/edit}" th:object="${getLinkDTO}">
        <input type="hidden" th:field="*{id}"/>

        <div class="mb-3">
            <label class="form-label" th:text="${label_name}">Name</label>
            <label>
                <input class="form-control" type="text" th:field="*{name}"/>
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label" th:text="${label_url}">URL</label>
            <label>
                <input class="form-control" type="url" th:field="*{targetUrl}"/>
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label" th:text="${label_url}">Redirect URL</label>
            <label>
                <input class="form-control" type="text" th:field="*{redirectUrl}" readonly/>
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label" th:text="${label_vists}">Visits</label>
            <label>
                <input class="form-control" type="number" th:field="*{visits}" readonly/>
            </label>
        </div>

        <div class="mb-3">
            <label th:for="password" th:text="${label_password}">Password</label>
            <label>
                <input type="password" id="password" name="password" required/>
            </label>
        </div>

        <button type="submit" class="btn btn-success mt-3" th:text="${button_save}">Save</button>
        <a th:href="@{/links/delete/{id}(id=${getLinkDTO.id})}" class="btn btn-danger mt-3 ms-2"
           th:text="${button_delete}">Delete</a>
    </form>
</div>

</body>
</html>
